.Nav-bar {
    /* align-items:stretch; */
    display: flex;
    justify-content: space-between;
    background-color: rgb(241, 244, 246);
    height: 8%;
    /* min-height: max-content; */
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
}s
.Nav-items {
    list-style-type: none;
    align-items: center;
    display: flex;
    margin-right: 1%;
    column-gap: 2%;
    font-size: 3ch;
    flex-direction: row-reverse;
    /* background-color: rgb(118, 141, 166); */
    /* padding-right: none; */
    height: 8%;
    
}

.Nav-items li {
  vertical-align: bottom;
  padding: 3%;
  text-align: center;
  border: none;
  border-bottom: none;
  border-top: none;
  border-left: none;
}

.Nav-items li:hover {
  background-color: #ccccff;
  border-radius: 10px;
}

.body {
  background-color: none;
  margin-top: 60px;
  font-size: larger;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
